.flex {
  display: flex;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.none {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  z-index: 1;
}

.absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.absolute-after-top-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.absolute-after-center-left:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
}

.dropdown-bottom-left {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.dropdown-bottom-right {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}

.flex-1 {
  flex: 10%;
  max-width: 10%;
}

.flex-2 {
  flex: 20%;
  max-width: 20%;
}

.flex-3 {
  flex: 30%;
  max-width: 30%;
}

.flex-4 {
  flex: 40%;
  max-width: 40%;
}

.flex-5 {
  flex: 50%;
  max-width: 50%;
}

.flex-6 {
  flex: 60%;
  max-width: 60%;
}

.flex-7 {
  flex: 70%;
  max-width: 70%;
}

.flex-8 {
  flex: 80%;
  max-width: 80%;
}

.flex-9 {
  flex: 90%;
  max-width: 90%;
}

.flex-10 {
  flex: 100%;
  max-width: 100%;
}