@charset "UTF-8";
:root {
  --bs-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size: 13px;
  --font-weight: 400;
  --line-height: 17px;
  --cl-white: #fff;
  --cl-orange: #ee4d2d;
  --cl-red: crimson;
  --cl-yellow: #ffce3d;
  --cl-green: #70bf73;
  --cl-background-body: #f5f5f5;
  --cl-header-top: #333e48;
  --cl-black: #222;
  --cl-background-top-header: #333e48;
  --cl-border: #ccc;
  --cl-border-light: #f1f1f1;
  --cl-border-right: #a3a3a3;
  --cl-hover-language: #f2f2f2;
  --cl-text-footer: #737373;
  --cl-breadcrumbs: #000000cc;
  --cl-fb: #3b5999;
  --cl-message: #0384ff;
  --cl-background-add-cart: #ff57221a;
  --cl-hov-cart: #ff572226;
  --cl-buy-now: #f05d40;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--bs-font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background: var(--cl-background-body);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: var(--line-height);
  font-size: var(--font-size);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: var(--cl-white);
}

ol,
ul,
li {
  margin: 0;
  padding: 0px;
}

ol,
ul {
  line-height: var(--line-height);
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}