#breadcrumbs ul li {
  font-size: 14px;
  color: var(--cl-breadcrumbs);
  position: relative;
  padding: 5px;
  margin: 0 10px;
}

#breadcrumbs ul li::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: -10px;
  position: absolute;
}

#breadcrumbs ul li:last-child:after {
  content: "";
  margin: 0;
}

#breadcrumbs ul li a {
  color: var(--cl-breadcrumbs);
}