#footer {
  border-top: 5px solid var(--cl-red);
}

.footer-top {
  background: var(--cl-white);
  padding: 20px 10px 15px;
}

.col-ft-menu {
  flex: 20%;
  max-width: 20%;
  padding: 5px;
}

.col-ft-menu h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--cl-text-footer);
}

.col-ft-menu ul li a {
  color: var(--cl-text-footer);
  font-size: 13px;
  line-height: 25px;
}

.col-left {
  margin-left: auto;
}

.download-QR {
  max-width: 86px;
  max-height: 86px;
}

.download-QR img {
  border: 1px solid #00000017;
}

.download-mobile {
  max-width: 92px;
  max-height: 20px;
  margin-left: 10px;
}

.download-mobile img {
  margin: 10px 0px;
}

.footer-info {
  text-align: center;
  padding: 40px;
}

.footer-links {
  margin-bottom: 40px;
}

.footer-links li {
  padding: 10px 15px;
}

.footer-links li a {
  color: var(--cl-text-footer);
  position: relative;
}

.footer-links li a:after {
  content: "|";
  position: absolute;
  color: var(--cl-text-footer);
  right: -15px;
}

.footer-info h3 {
  font-size: 20px;
  color: var(--cl-text-footer);
  line-height: 25px;
}