    .top-header {
      background-color: var(--cl-background-top-header);
    }
    
    .header>ul>li {
      position: relative;
    }
    
    .header>ul>li>a {
      padding: 5px 10px;
      line-height: var(--line-height);
      position: relative;
    }
    
    .contact-now li a:after {
      content: "|";
      position: absolute;
      color: var(--cl-border-right);
      right: 0;
    }
    
    .contact-now li:last-child a:after {
      content: "";
    }
    
    .header i {
      margin-right: 5px;
      color: var(--cl-white);
    }
    
    .top-menu>li:first-child>a {
      display: flex;
      align-items: center;
      line-height: 1;
      justify-content: space-between;
    }
    
    .top-menu img {
      width: 27px;
      margin-right: 5px;
    }
    
    .top-menu li a {
      font-size: 14px;
      font-weight: 500;
    }
    
    .dropdown-language {
      width: 110px;
      background-color: var(--cl-white);
      display: none;
      padding-left: 0;
      margin: 0;
      border: 1px solid var(--cl-border);
      border-radius: 3px;
    }
    
    .dropdown-language li a {
      display: flex;
      align-items: center;
      padding: 5px;
      color: var(--cl-black);
      justify-content: space-around;
    }
    
    .dropdown-language li:hover {
      background-color: var(--cl-hover-language);
    }
    
    .dropdown-language li:first-child a {
      display: flex;
      line-height: inherit;
      border-bottom: 1px solid var(--cl-border-light);
    }
    
    .top-menu>li:first-child:hover .dropdown-language {
      display: block;
    }
    
    .top-menu li:last-child a:before {
      content: "|";
      position: absolute;
      left: 0;
      color: var(--cl-border-right);
    }
    
    .main-header {
      background: var(--cl-white);
      padding: 15px 0;
    }
    
    .main-header .col-logo {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      padding: 0 15px;
      text-align: center;
    }
    
    .col-logo a img {
      width: 60px;
    }
    
    .main-header .col-form-search {
      flex: 0 0 73%;
      max-width: 73%;
      padding: 0 15px;
    }
    
    .col-form-search form {
      box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
      padding: 5px 5px 5px 15px;
    }
    
    .col-form-search form input {
      flex: 0 0 75%;
      max-width: 75%;
      border: none;
      outline: 0;
      border-right: 2px solid #222;
      padding: 8px 0;
    }
    
    .col-form-search form .select-shop {
      flex: 0 0 16%;
      max-width: 16%;
      padding: 0 10px;
      font-size: 14px;
    }
    
    .col-form-search form .select-shop .title {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 8px 0;
    }
    
    .col-form-search form .select-shop ul {
      background-color: var(--cl-white);
      border: 1px solid var(--cl-border-light);
      width: 165px;
      display: none;
    }
    
    .col-form-search form .select-shop:hover ul {
      display: block;
    }
    
    .col-form-search form .select-shop ul li:hover {
      background-color: var(--cl-hover-language);
    }
    
    .col-form-search form .select-shop ul li {
      padding: 13px;
      border-bottom: 1px solid var(--cl-border-light);
      cursor: pointer;
      color: var(--cl-black);
    }
    
    .col-form-search form .submit-form-search {
      flex: 0 0 9%;
      max-width: 9%;
      text-align: right;
    }
    
    .col-form-search form button {
      padding: 8px 20px;
      color: var(--cl-white);
      background-color: var(--cl-header-top);
      border: none;
      border-radius: 3px;
    }
    
    .main-header .col-cart {
      flex: 10.33333%;
      max-width: 10.33333%;
      padding: 0 15px;
    }
    
    .col-cart:hover .detail-cart {
      display: block;
    }
    
    .col-cart .count-cart {
      display: inline;
      font-size: 20px;
    }
    
    .col-cart .count-cart i {
      display: inline;
      font-size: 20px;
      line-height: 50px;
    }
    
    .col-cart .count-cart span {
      display: inline-block;
      position: absolute;
      top: -10px;
      left: 16px;
      height: 20px;
      line-height: 18px;
      width: 25px;
      border: 1px solid var(--cl-orange);
      background-color: var(--cl-white);
      text-align: center;
      border-radius: 10px;
      color: var(--cl-orange);
    }
    
    .col-cart .count-cart i {
      color: var(--cl-orange);
    }
    
    .detail-cart {
      margin-top: 20px;
      width: 400px;
      min-height: 184px;
      z-index: 1;
      right: -25px;
      background-color: var(--cl-white);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
      border-radius: 3px;
      padding: 10px;
    }
    
    .detail-cart::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: -13px;
      right: 5px;
      border-width: 0 25px 20px;
      border-style: solid;
      border-color: transparent transparent var(--cl-white);
    }
    
    .detail-cart-item .title {
      font-size: 12px;
      color: var(--cl-text-footer);
    }
    
    .detail-cart-item .product-cart img {
      width: 42px;
      height: 42px;
      border: 1px solid var(--cl-border);
      margin-right: 10px;
    }
    
    li:last-child.detail-cart-item {
      border-bottom: 1px solid var(--cl-border-light);
      padding-bottom: 20px;
    }
    
    .product-cart,
    .price-and-quantity {
      margin: 5px 0;
    }
    
    .product-cart p {
      display: inline;
      font-size: 14px;
      margin: 0;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: nowrap;
      max-width: 240px;
    }
    
    .price-and-quantity {
      text-align: right;
    }
    
    .multiplying-price p {
      margin: 0;
      font-size: 14px;
      color: var(--cl-orange);
      font-weight: normal;
    }
    
    .multiplying-price p:last-child {
      color: var(--cl-text-footer);
      margin-left: 5px;
    }
    
    .price-and-quantity button {
      border: none;
      background: transparent;
    }
    
    .total-cart p {
      margin: 5px 0;
      font-size: 14px;
    }
    
    .check-cart {
      text-align: right;
      margin-top: 10px;
    }
    
    .check-cart button {
      background: var(--cl-orange);
      border: none;
      padding: 10px 15px;
    }
    
    .check-cart a {
      color: var(--cl-white);
      text-transform: capitalize;
      font-size: 14px;
    }
    
    .no-cart {
      width: 200px;
      margin: 10px auto;
      text-align: center;
      color: var(--cl-black);
    }
    
    .no-cart img {
      width: 100%;
      display: block;
    }