.notification {
  position: fixed;
  width: 300px;
  height: 150px;
  background: rgb(0 0 0 / 50%);
  color: white;
  transform: translate(50%, 50%);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
}

.notification h3 {
  font-size: 16px;
}

@keyframes updateCart {
  0% {
    opacity: 1;
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

.load {
  animation: updateCart 5s;
}