.prd-relevant,
.prd-seen {
  padding: 15px;
}

.prd-relevant .title-relevant,
.prd-seen .title-relevant {
  margin-bottom: 20px;
}

.prd-relevant .title-relevant h3,
.prd-seen .title-relevant h3 {
  color: var(--cl-header-top);
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.prd-relevant .title-relevant a,
.prd-seen .title-relevant a {
  color: var(--cl-orange);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.items {
  background: var(--cl-white);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  position: relative;
  height: 150px;
}

.inf-prd-relevant {
  padding: 0 5px;
  color: black;
}

.inf-prd-relevant .name-relevant {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 17px;
  -webkit-box-orient: vertical;
  font-weight: normal;
  text-transform: uppercase;
  margin: 5px 0;
}

.price-relevant {
  padding: 0 5px;
}

.price-relevant del {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.price-relevant span,
.price-relevant h6 {
  font-size: 16px;
  color: var(--cl-orange);
}

.review-relevant {
  margin: 5px 0;
}

.review-relevant .star-review i {
  font-size: 10px;
  color: var(--cl-yellow);
  line-height: 1;
}

.review-relevant .saled {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  max-width: 40px;
  text-transform: capitalize;
  margin-left: 5px;
}

.sale {
  width: 40px;
  height: 40px;
  background-color: var(--cl-yellow);
  color: var(--cl-white);
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.sale h3:first-child {
  color: var(--cl-orange);
}

.sale::after {
  bottom: -10px;
  width: 0;
  height: 0;
  border-width: 0 20px 10px;
  border-color: transparent var(--cl-yellow);
  border-style: solid;
}

.cart {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: var(--cl-green);
  color: var(--cl-white);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  transition-delay: .1s;
}

.cart:hover i {
  animation: hovCart .8s;
}

@keyframes hovCart {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(50px);
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateX(-50px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}