#content section {
  margin: 10px 10px 5px;
  background: var(--cl-white);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.product-briefing-left {
  margin: 15px;
}

.product-briefing-left .img-product {
  max-width: 450px;
  height: 450px;
  margin: 0 auto 20px;
}

.product-briefing-left .img-product img {
  padding: 0 15px;
}

.img-thumb {
  margin-bottom: 20px;
}

.img-thumb li {
  height: 82px;
  width: 82px;
  text-align: center;
  margin: 0 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.img-thumb li img {
  width: auto;
  max-height: 82px;
}

.img-thumb li.active {
  border: 2px solid var(--cl-orange);
}

.footer-img>li i {
  font-size: 25px;
  margin-right: 5px;
}

.social-network ul li:first-child i {
  color: var(--cl-fb);
}

.social-network ul li:last-child i {
  color: var(--cl-message);
}

.social-network::after,
.social-network:before {
  content: "|";
  position: absolute;
  color: var(--cl-text-footer);
  top: 50%;
  transform: translateY(-50%);
}

.social-network::after {
  right: 0;
}

.social-network::before {
  left: 0;
}

.social-network h3,
.vote h3 {
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 0;
}

.vote i {
  color: var(--cl-orange);
}

.product-briefing-right {
  margin: 20px 35px 0 20px;
}

.name-product {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.review {
  font-size: 18px;
  margin: 15px 0;
  line-height: 20px;
}

.review .number-star span {
  border-bottom: 1px solid var(--cl-orange);
  color: var(--cl-orange);
}

.number-star .star {
  font-size: 14px;
  margin: 0 10px;
  color: var(--cl-orange);
}

.review .number-star::after {
  content: "|";
  position: absolute;
  right: 0;
}

.sell span {
  margin: 0 10px;
  font-weight: bold;
}

.price {
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  margin-bottom: 20px;
  background: var( --cl-border-light);
  color: var(--cl-border-right);
}

.price h3 {
  font-size: 25px;
  color: var(--cl-orange);
  font-weight: bold;
  margin-left: 10px;
}

.price h6 {
  font-size: 25px;
  color: var(--cl-orange);
  font-weight: bold;
  margin-right: 10px;
}

.price span {
  background: var(--cl-orange);
  color: var(--cl-white);
}

.information h3,
.quantity h3,
.detail-item h3 {
  color: var(--cl-border-right);
  margin-left: 15px;
  font-size: 15px;
}

.summary-prd h6,
.detail-item h6 {
  font-size: 13px;
  color: var(--cl-text-footer);
}

.summary-prd span,
.description span {
  font-size: 14px;
  color: var(--cl-black);
  font-weight: bold;
  line-height: 25px;
}

.summary-prd a {
  color: var(--cl-orange);
}

.quantity {
  margin: 100px 0 20px;
}

.quantity button {
  background: var(--cl-white);
  border: 1px solid var(--cl-border);
  width: 35px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
}

.quantity input {
  width: 110px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid var(--cl-border);
  outline: none;
  padding: 0 40px;
}

.action button {
  width: 175px;
  height: 50px;
  margin: 0 5px 20px;
  cursor: pointer;
}

.action button:first-child {
  border: 1px solid var(--cl-orange);
  border-radius: 3px;
  color: var(--cl-orange);
  background: var(--cl-background-add-cart);
}

.action button:first-child:hover {
  background: var(--cl-hov-cart);
}

.action button:last-child {
  background-color: var(--cl-orange);
  border: none;
  color: var(--cl-white);
  border-radius: 3px;
}

.action button:last-child:hover {
  background-color: var(--cl-buy-now);
}

.product-detail {
  padding: 15px;
}

.product-detail .title {
  text-transform: capitalize;
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  margin: 20px 0;
  background: var( --cl-border-light);
}

.aside-right {
  padding: 15px;
}

.aside-right .header {
  color: var(--cl-border-right);
  margin: 5px 0 10px;
  text-transform: capitalize;
  font-size: 14px;
}

.hot-sales-item {
  margin: 10px 0;
  border-bottom: 1px solid var(--cl-border);
}

.hot-sales-item .item-card-special {
  padding: 5px 10px 20px;
  font-size: 16px;
}

.hot-sales-item:last-child .item-card-special {
  padding: 5px 10px 5px;
  font-size: 16px;
}

div.hot-sales-item:last-child {
  border: none;
}

.item-card-special h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item-card-special span {
  color: var(--cl-red);
}